<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section name="MachinaX" type="clickclickboom.machinaX.x_configHandler,MachinaX" />
	</configSections>
	<startup>
		<requiredRuntime version="v4.0.30319.1"/>
	</startup>
	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
		<customErrors mode="Off" />
		<authentication mode="Windows" />
		<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false" />
		<sessionState mode="Off" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-ZA" uiCulture="en-ZA"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
				<add name="HttpSoap"/>
			</protocols>
		</webServices>
		<httpRuntime maxRequestLength="51200" executionTimeout="600" />
		<pages validateRequest="false" />
	</system.web>

	<log4net>
		<root>
			<priority value="Info" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs/log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{yyyyMMddTHH:mm:ss},%-5level,%class,%message%newline" />
			</layout>
		</appender>
	</log4net>
	<MachinaX>
		<EmailX type="3" from="info@loeries.com" to="alan@clickclickboom.co.za" bcc="alanben@umlungu.com" host="mail.umlungu.com" subject="The Loerie Awards" docpath="uploads/newsletters/">
			<Smtp username="theloerieawards@umlungu.com" password="T04XR2QnE9dPV8DP4Qys"/>
		</EmailX>
		<ServicesX>
			<!-- this section for services derived from ProtoServiceX eg Coupons -->
			<DebugX site="no"/>
			<DSN>Server=LOCALHOST\SQLEXPRESS;User Id=umlungu;Password=tZ98AaC6INz;Database=AwardsX;</DSN>
		</ServicesX>
		<AwardsX>
			<DebugX site="yes"/>
			<DSN>Server=LOCALHOST\SQLEXPRESS;User Id=umlungu;Password=tZ98AaC6INz;Database=AwardsX;</DSN>
		</AwardsX>
		<PassportX>
			<DBType>SqlServer</DBType>
			<DSN>Server=LOCALHOST\SQLEXPRESS;User Id=umlungu;Password=tZ98AaC6INz;Database=AwardsX;</DSN>
			<MPGgateway>
				<Url>https://gateway.nashuamobile.com/nmmobility/NMMobility.dll/soap/ISMS</Url>
			</MPGgateway>
		</PassportX>
		<Vimeo baseurl="https://vimeo.com/">
			<Token>09718f151a911bf7098bdb44ef5fcf0d</Token>
			<Key>c8abc7e75e34cd70cde3df8ba1f90c52fba87cc3</Key>
			<Secret>asoPaUovS+uJMtPgLfxSdMTfG603J7UQ2RlPBJ69+7FzkxbuRTL8ljyvZbLIYxbSEpTXY81oGR/byhnFe6ql1fqfoTsBH2153GAxREeYNACc6Ze8XtIYjvFVEDAlebeB</Secret>
		</Vimeo>
	</MachinaX>
</configuration>