<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="MachinaX" type="XXBoom.MachinaX.x_configHandler,XXBoom.MachinaX"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json"
								  publicKeyToken="cc7b13ffcd2ddd51"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0"
								 newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.8"/>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false"/>
		<sessionState mode="Off"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-ZA" uiCulture="en-ZA"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
				<add name="HttpSoap"/>
			</protocols>
		</webServices>
		<httpRuntime maxRequestLength="51200" executionTimeout="600" targetFramework="4.8"/>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<log4net>
		<root>
			<priority value="Debug"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs/log.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd-HH"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{yyyyMMddTHH:mm:ss.sss},%-5level,%class,%message%newline"/>
			</layout>
		</appender>
	</log4net>
	<MachinaX>
		<EmailX type="3" from="info@loeries.co.za" to="alan@clickclickboom.co.za" bcc="alanben@umlungu.com" host="mail.umlungu.com" subject="The Loerie Awards" docpath="uploads/newsletters/">
			<Smtp username="theloerieawards@umlungu.com" password="T04XR2QnE9dPV8DP4Qys"/>
		</EmailX>
		<ServicesX>
			<!-- this section for services derived from ProtoServiceX eg Coupons -->
			<DebugX site="no"/>
			<DSN>Server=LOCALHOST\SQLEXPRESS;User Id=umlungu;Password=customer;Database=AwardsX;</DSN>
		</ServicesX>
		<AwardsX>
			<DebugX site="no"/>
			<DSN>Server=LOCALHOST\SQLEXPRESS;User Id=umlungu;Password=customer;Database=AwardsX;</DSN>
		</AwardsX>
		<PassportX>
			<!-- ODBC / OLEDB / Oracle / Npgsql / PostgreSQLDirect / MsSQL / MySQL-->
			<DBType>SqlServer</DBType>
			<DSN>Server=LOCALHOST\SQLEXPRESS;User Id=umlungu;Password=customer;Database=AwardsX;</DSN>
			<MPGgateway>
				<Url>https://gateway.nashuamobile.com/nmmobility/NMMobility.dll/soap/ISMS</Url>
			</MPGgateway>
		</PassportX>
	</MachinaX>
</configuration>
